.hero-banner {
    text-align: center;
}
.hero-img {
    width: 99%;
    max-height: 50vh;
    object-fit: cover;
    object-position: 0 10%;
    border-radius: 30px;   
}
.hero-text {
    font-size: 2rem;
    font-weight: bold;
}
.text-container {
    margin: 1rem;
}