.single-product-card {
    text-align: center;
    max-width: 20%;
    margin: 1rem;
}
.single-product-card > img {
    width: 100%;
    cursor: pointer;
}
.single-product-card > button {
    border-radius: 3px;
    padding: 0.2rem;
}
.name-click {
    cursor: pointer;
}