.lesson-container img {
  padding: 1rem;
  width: 70%;
  max-height: 200px;
  object-fit: cover;
}
.lesson-container {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  
  padding: 0.8rem;
  margin: 0 auto;
}
.lesson-container p {
  padding: 1rem;
}
/* @media screen and (max-width: 420px) {
  .lesson-container {
    flex-direction: column;
    height: 50%;
  }
} */
