nav {
  border-bottom: 2px solid #0f0f0f;
  text-align: center;
  font-size: 1.15rem;
  background: #f3f3f3;

}

.top-nav {
  color: var(--text-color);
  display: flex;
  text-align: center;
  padding: 15px;
  align-items: center;
  list-style: none;
}

.guitar-svg {
  max-height: 4rem;
  object-fit: contain;
  flex: auto;
}

.nav-item {
  flex: auto;
}

.cart-svg {
  cursor: pointer;
}

/*search bar and container styles*/
.search-area {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 0 1rem 1rem;
  align-items: center;
}
.search-bar {
  width: 90%;
  padding: 0.45rem;
  border-radius: 10px;
}
.search-btn {
  padding: 0.45rem;
  margin: 0 0.5rem;
  border-radius: 10px;
}
