nav {
  border-bottom: 2px solid #0f0f0f;
  text-align: center;
}

.top-nav {
  display: flex;
  text-align: center;
  margin: 15px;
  align-items: center;
  list-style: none;
}

.nav-img {
  max-height: 4.5rem;
  object-fit: contain;
  flex: auto;
}

.nav-item {
  flex: auto;
}

.cart-svg {
  cursor: pointer;
}

/*search bar and container styles*/
.search-area {
  display: flex;
  padding: 0 1rem 1rem;
  align-items: center;
}
.search-bar {
  width: 90%;
  padding: 0.45rem;
}
.search-btn {
  padding: 0.45rem;
  margin: 0 0.5rem;
}
