.shop-by-brand {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    background: var(--red);
}
.shop-by-brand h2 {
    padding: 1rem;
}
.brand-container {
    padding: 2rem;
    display: grid;
    grid-column-gap: 10px;
    justify-content: center;
    grid-template-columns: auto auto;
    
}
@media screen and (max-width: 420px) {
    .brand-container {
        grid-template-columns: auto;
    }
}