.deal-img {
    max-width: 15rem;
    min-height: 20rem;
    object-fit: cover;
}
.deal-card {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(var(--color-one), var(--color-two), var(--color-three));

}