.deal-img {
    max-width: 15rem;
    min-height: 20rem;
    object-fit: cover;
    
}
.deal-card {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px; 
    width: 18rem;
    background: #fff;
}
.bkgrnd-div > button {
    border-radius: 5px;
    padding: 0.1rem;
    margin: 0.1rem;
    width: 60%;
    background: #f2f2f2;
}
.bkgrnd-div {
    padding: 0.5rem;
}