.brand-card {
    text-align: center;
    cursor: pointer;
    filter: grayscale(50%);
    transition: filter 200ms linear;
}
.brand-img {
    
    width: 12rem;
    height: 12rem;
    opacity: 80%;
    object-fit: cover;
}
.brand-card:hover {
    filter: grayscale(90%);
}
.img-text {
    position: relative;
    font-size: 1.8rem;
    top: -50%;
    color: #fff;
    max-width: fit-content;
    margin: auto;
}