.brand-card {
    text-align: center;
    cursor: pointer;
    filter: grayscale(50%);
    transition: filter 200ms linear;
    
}
.brand-img {
    
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.brand-card:hover {
    filter: grayscale(90%);
}
.img-text {
    padding: 0.2rem;
    position: relative;
    font-size: 1.8rem;
    border-radius: 2px;
    top: -50%;
    color: #fff;
    max-width: fit-content;
    margin: auto;
    background: #333333aa;
}