@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Poppins&display=swap");

:root {
  --text-color: #123;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
    color: var(--text-color)

}
 body {
  background: #fff;
  max-width: 1600px;
  margin: auto;
}
