:root {
  --color-one: #31BD9C;
  --color-two: #2CCCD4;
  --color-three: #2A98C9;
  --color-green-light: #2CD47D;
  --color-green-dark: #2AC94A;
}




*, *::before, *::after {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #fefaf3;
  max-width: 1600px;
  margin: auto;
}