.brands-and-lessons {
  display: grid;
  padding: 1rem;
  grid-template-columns: 70% 30%;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .brands-and-lessons {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
